<a href="https://colab.research.google.com/github/dltjswns1051/assignment/blob/main/3weeks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
class Customer:
    def __init__(self, name, balance=0):
        self.name = name
        self.balance = balance
    def __str__(self):
        return self.name + "(" + str(self.balance) + " 원)"
    def withdraw(self, money):
        if money <= self.balance:
            self.balance -= money
        return self.balance
    def deposit(self, money):
        self.balance += money
        return self.balance

if __name__ == '__main__':
    c1 = Customer('Bill')
    c2 = Customer('Steve', 50000)
    c3 = Customer('Tim', 100000)
    print(c1, c2, c3)

    c1.deposit(50000)
    c2.deposit(30000)
    c3.withdraw(100000)
    print(c1, c2, c3)

    c2.withdraw(1000000)
    print(c1, c2, c3)

Bill(0 원) Steve(50000 원) Tim(100000 원)
Bill(50000 원) Steve(80000 원) Tim(0 원)
Bill(50000 원) Steve(80000 원) Tim(0 원)

In [10]:
class Pet:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def __str__(self):
        return "Name: " + self.name + ", Age: " + str(self.age)

class Dog(Pet):
    def bark(self, n):
        for i in range(0,n):
            print("bark!")
    def human_age(self):
        return self.age * 4

class Cat(Pet):
    def meow(self, n):
        for i in range(0,n):
            print("meow~")
    def human_age(self):
        return self.age * 4

if __name__ == '__main__':
    popo = Dog('popo', 10)
    popo.bark(3)
    print(popo)
    print('사람 나이로 환산 :', popo.human_age())

    pipi = Cat('pipi', 5)
    pipi.meow(4)
    print(pipi)
    print('사람 나이로 환산 :', pipi.human_age())

bark!
bark!
bark!
Name: popo, Age: 10
사람 나이로 환산 : 40
meow~
meow~
meow~
meow~
Name: pipi, Age: 5
사람 나이로 환산 : 20

In [12]:
#ITEM(title,price,int count) -> book(title,price,pages,author,getprice(ITEM) ),magazine(title,price,month?,getprice(ITEM))

class Item:
    count = 0
    def __init__(self, title, price):
        self.title = title
        self.price = price
        Item.count += 1
    def getprice(self):
        pass
    def __str__(self):
        return '제목: ' + self.title + ', 가격: ' + str(self.price)

class Book(Item):
    def __init__(self, title, price, pages, author):
        super().__init__(title, price)
        self.pages = pages
        self.author = author
    def getprice(self):
        result = '* ' + self.title + ' 의 가격은 ' + str(self.price) + ' 원 입니다.'
        print(result)
        return result
    def __str__(self):
        return super().__str__() + ', 페이지 수: ' + str(self.pages) + ', 저자: ' + self.author

class Magazine(Item):
    def __init__(self, title, price, month):
        super().__init__(title, price)
        self.month = month
    def getprice(self):
        result = '* ' + self.title + ' 의 가격은 ' + str(self.price) + ' 원 입니다.'
        print(result)
        return result
    def __str__(self):
        return super().__str__() + ', 출간 월: ' + str(self.month)

if __name__ == '__main__':
    book1 = Book('소나기', 10000, 124, '황순원')
    book2 = Book('메밀꽃 필 무렵', 15000, 142, '이효석')
    book3 = Book('난쏘공', 12000, 112, '조세희')
    magazine1 = Magazine('보그', 11000, 9)
    magazine2 = Magazine('싱글즈', 13000, 8)
    print(str(book1) + '\n' + str(book2) + '\n' + str(book3) + '\n' + str(magazine1) + '\n' + str(magazine2))
    print('총', Item.count, '권')
    book2.getprice()
    magazine1.getprice()
    book1.getprice()

제목: 소나기, 가격: 10000, 페이지 수: 124, 저자: 황순원
제목: 메밀꽃 필 무렵, 가격: 15000, 페이지 수: 142, 저자: 이효석
제목: 난쏘공, 가격: 12000, 페이지 수: 112, 저자: 조세희
제목: 보그, 가격: 11000, 출간 월: 9
제목: 싱글즈, 가격: 13000, 출간 월: 8
총 5 권
* 메밀꽃 필 무렵 의 가격은 15000 원 입니다.
* 보그 의 가격은 11000 원 입니다.
* 소나기 의 가격은 10000 원 입니다.